
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex align-items-center justify-content-between">
        <h6 class="m-0 fw-bold text-primary">Thay đổi mật khẩu</h6>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-lg-4">
                <label for="currentPassword" class="form-label fw-bold">Mật khẩu hiện tại</label>
                <input type="password"
                       id="currentPassword"
                       class="form-control bg-light border-0"
                       placeholder="Mật khẩu">
            </div>
            <div class="col-lg-4">
                <label for="password" class="form-label fw-bold">Mật khẩu mới</label>
                <input type="password"
                       id="password"
                       class="form-control bg-light border-0"
                       placeholder="Mật khẩu">
            </div>
            <div class="col-lg-4">
                <label for="passwordConfirm" class="form-label fw-bold">Nhập lại mật khẩu mới</label>
                <input type="password"
                       id="passwordConfirm"
                       class="form-control bg-light border-0"
                       placeholder="Nhập lại mật khẩu">
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex align-items-center justify-content-between">
            <button type="submit" class="btn btn-primary">
                Lưu
            </button>
        </div>
    </div>
</div>

