
@{
    ViewBag.Title = "title";
    Layout = "_AuthLayout";
}

<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Trang Quản Lý Hệ Thống!</h1>
            </div>
            <form class="user">
                <div class="form-group">
                    <input type="email" class="form-control form-control-user"
                           id="exampleInputEmail" aria-describedby="emailHelp"
                           placeholder="Mời bạn nhập địa chỉ ...">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user"
                           id="exampleInputPassword" placeholder="Mời bạn nhập mật khẩu">
                </div>
                <div class="form-group">
                    <div class="form-check small">
                        <input type="checkbox" class="form-check-input" id="customCheck">
                        <label class="form-check-label" for="customCheck">
                            <i class="fa-solid fa-magnifying-glass"></i> Remember Me
                        </label>
                    </div>
                </div>
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-user w-100">
                    Login
                </a>
            </form>
            <hr>
            <div class="text-center">
                <a class="small" asp-controller="Auth" asp-action="ResetPassword">Forgot Password?</a>
            </div>
            <div class="text-center">
                <a class="small" asp-controller="Auth" asp-action="Signup">Create an Account!</a>
            </div>
        </div>
    </div>
</div>
