@model JobModel

@{
    ViewBag.Title = "Chỉnh sửa công việc";
    Layout = "_Layout";
}

<form asp-action="Edit" method="post">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-sm-flex align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
                <a asp-controller="Jobs" asp-action="Index" class="d-none d-sm-inline-block">
                    <i class="fas fa-download fa-sm text-white-50 pr-1"></i>
                    Hủy
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Name" class="font-weight-bold">Tên</label>
                        <input asp-for="Name"
                               class="form-control bg-light border-0 small"
                               placeholder="Tên">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Level" class="font-weight-bold">Cấp</label>
                        <input asp-for="Level"
                               class="form-control bg-light border-0 small"
                               placeholder="Cấp">
                        <span asp-validation-for="Level" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Note" class="font-weight-bold">Ghi chú</label>
                        <input asp-for="Note"
                               class="form-control bg-light border-0 small"
                               placeholder="Ghi chú">
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-sm-flex align-items-center justify-content-between">
                <button type="submit" class="btn btn-primary">
                    Lưu
                </button>
            </div>
        </div>
    </div>
</form>